# Carthage
Carthage/Checkouts
Carthage/Build

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!*.xcodeproj/default.*
!**/*.xcodeproj/default.*
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
